{
  "presets": [
    "@babel/preset-stage-3",
    [
      "@babel/preset-env",
      {
        "modules": false,
        "useBuiltIns": "entry"
      }
    ]
  ],
  "plugins": ["transform-class-properties"]
}
